{% extends 'base.html.twig' %}

{% block title %}Admin. | {{ parent() }}{% endblock %}

{% block body %}
    <div class="admin-page">
        <div class="container">
            <table class="table table-striped">

    <div class="container mt-3">
        <h2> Utilisateurs </h2>
        <table class="table table-striped">
            <br>
            <tr>
                <th> # </th>
                <th>Username</th>
                <th>Rôle</th>
                <th>Actions</th>

            </tr>
            {% for user in users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                    <td>
                              {% for elem in user.roles %}
                                 {% if elem == 'ROLE_ADMIN' %}
                                    <span class="badge red">
                                        admin.
                                    </span>
                                 {% else %}
                                     <span class="badge blue">
                                        user.
                                    </span>
                                {% endif %}
                              {% endfor %}

                    </td>
                    <td>
                        <a href="/supprimer_uti/{{user.id}}" class ="btn btn-danger" role="buton">supprimer</a>
                        <a href="/ajouter_droit/{{user.id}}" class="btn btn-primary" role="buton">ajouter rôle</a>
                    </td>

                </tr>
            {% endfor %}

        </table>
    </div>

{% endblock %}