{% extends 'base.html.twig' %}
{% block title %}Recherche{% endblock %}

{% block body %}
    <div class="container center">

    <div class="container center">
        <h1>Recherche</h1>
        {{ form_start(RechercheForm, {'attr': {'class': 'row'}}) }}
        <table class="table table-striped">
            <tr>
                <td>Nom de la cryptomonnaie :</td>
                <td>
                   <div class="input-field col s12 m6 l6 offset-m3 offset-l3">
                        {{ form_widget(RechercheForm.nom, {'attr': {'placeholder': ' '}}) }}
                        <span class="error">{{ form_errors(RechercheForm.nom) }}</span>
                   </div>
                </td>
            </tr>
            <tr>
                <td>Prix entre : </td>
                <td>
                <div class="input-field col s12 m6 l6 offset-m3 offset-l3">
                    {{ form_widget(RechercheForm.prixMin, {'attr': {'placeholder': 'min'}}) }}
                    <span class="error">{{ form_errors(RechercheForm.prixMin) }}</span>
                </div>
                </td>
                <td> et </td>
                <td>
                    <div class="input-field col s12 m6 l6 offset-m3 offset-l3">
                        {{ form_widget(RechercheForm.prixMax, {'attr': {'placeholder': 'max'}}) }}
                        <span class="error">{{ form_errors(RechercheForm.prixMax) }}</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Catégorie : </td>
                <td>
                    <div class="input-field col s12 m6 l6 offset-m3 offset-l3">
                        {{ form_widget(RechercheForm.categorie, {'attr': {'placeholder': ' '}}) }}
                        <span class="error">{{ form_errors(RechercheForm.categorie) }}</span>
                    </div>
                </td>
            </tr>
{#            <tr>#}
{#                <td>Nombre de followers entre : </td>#}
{#                <td>#}
{#                    <div class="input-field col s12 m6 l6 offset-m3 offset-l3">#}
{#                        {{ form_widget(RechercheForm.minNbFollowers, {'attr': {'placeholder': 'min'}}) }}#}
{#                        <span class="error">{{ form_errors(RechercheForm.minNbFollowers) }}</span>#}
{#                    </div>#}
{#                </td>#}
{#                <td> et </td>#}
{#                <td>#}
{#                    <div class="input-field col s12 m6 l6 offset-m3 offset-l3">#}
{#                        {{ form_widget(RechercheForm.maxNbFollowers, {'attr': {'placeholder': 'max'}}) }}#}
{#                        <span class="error">{{ form_errors(RechercheForm.maxNbFollowers) }}</span>#}
{#                    </div>#}
{#                </td>#}
{#            </tr>#}
            <tr>
                <td>
                    <div class="input-field col s12">
                        <input type="submit" name="" class="btn btn-primary" value="Rechercher">
                     </div>
                </td>
            </tr>
        </table>
            {{ form_end(RechercheForm) }}
    </div>
{% endblock %}